body{
	margin: 0 auto;
	padding:0;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
    overflow-x: hidden;
    background:  #191a1c;
}
.topbar {
	height: 100px;
	width: 100%;
	position: relative;
}
.logo{
	position: absolute;
	height: 60px;
	margin-left: 150px;
	width: 100px;
	padding: 20px 0;

}
.logo img{
	height: 100%;
	width: 100px;
}

.nav {
	height: 100px;
	float: right;
	width: 100%;
}
.nav ul {
	height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191a1c;
}

.nav li {
    float: right;
    padding: 35px 30px;
}

.nav li a {
    display: block;
    color: #fb9840;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.nav li a:hover {
    color: #fcfcfc;
    font-weight: 600;
}
.nav li:first-child{
	margin-right: 150px;
}
.color {
	color: red;
    font-weight: 700;
}
.contact_bizzcode{
    position: relative;
    margin-top: 0;
    background-repeat: no-repeat;
    height:auto;
    overflow: hidden;
}
.contact_bizzcode img {
    margin-top: 0;
    height: 200px;
    width: 100%;

}
.contact_bizzcode h1{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    color: #f7eccb;
    text-align: center;
    font-weight: 600;
}

.map{
    margin: 0 5% auto;
 
}
.map h1{
    text-align: center;
    color: #f7eccb;
}

.map h2{
   
    color: #f7eccb;
    font-weight: bold;
    font-size: 30px;
}

.map p{
   
    color: #fff;
    padding-bottom: 35px;
    font-weight: 500;
}

.lform{
    width: 480px;
    float: left;

}
.rform{
    width: 480px;
    float: right;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    color: #f7eccb;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 480px;
    border-radius: 4px;
    background: red;
    font-weight: 600;
    
}

input[type=submit]:hover {
    background-color: #fb9840;
    color: #191a1c;
    font-weight: 600;
}
.contact_form_wrapper{
    width: 100%;
    margin: 0 auto;
	background-color: #292e2f;
    margin-top: 0;
}
.contact_form_wrapper h1{
    text-align: center;
    color: #f7eccb;
    padding-top: 35px;
}
.contact_form {
    margin: 0px auto;
    width: 1000px;
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
	margin-top: 0;
	padding: 30px;
	background-color: #191a1c;
	color: #fb9840;
}
.footer p{
	text-align:center; 
    font-weight: 600;
}

